@font-face {
    font-family: "Iosevka";
    src: url("assets/Iosevka-Light.woff") format('woff');
}

body {
    margin: 0;
    background: #000; 
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('assets/poster.png') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}
.stopfade { 
    opacity: .5;
}

#float {
    font-family: Iosevka;
    /*     font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif; */
    font-weight:100; 
    background: rgba(0,0,0,0.3);
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    float: left;
    font-size: 1rem;
    display: table;
}


a {
    display: inline-block;
    color: #f44283;
    text-decoration: none;
    /*     font-size: 1rem; */
    transition: .6s background; 
}
a:hover{
    background:rgba(0,0,0,0.9);
}
@media screen and (max-width: 500px) { 
    div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
    html { background: url(assets/poster.png) #000 no-repeat center center fixed; }
	#bgvid { display: none; }
    }
